// SGS - Stylus Grid System
@import "sgs"

global-reset()

*
  transition: all .3s ease-in

// VARS
color-base = #4aa3df

body
  background: #eee
  font-family: 'Varela Round', sans-serif

// SGS
header
  text-align: center
  padding: 4em 0 4em 0

section
  max-width: 1040px
  padding: 0 1.2em
  margin: 5em auto 2em auto

footer
  margin: 4em 0 0 0
  padding: 2em 0
  background: color-base
  text-align: center

h2
  font-size: 2.4em
  color: #444
  text-align: center
  margin: .6em 0 .2em 0

p
  font-size: 1.2em
  color: #999
  text-align: center
  margin: 0 0 .6em 0
  line-height: 1.4em
  code
    color: #555
    font-family: monospace
    background: darken(#eee, 3%)
    border: 1px solid darken(#eee, 10%)
    padding: .1em .5em

.sgs-grid-demo
  padding: 0
  margin-top: .5em

.sgs-logo
  display: inline-block
  background: color-base
  font-size: 5em
  color: #fff
  margin: 0
  padding: .2em .1em
  @media tablet
    font-size: 3.6em
    text-transform: lowercase
  span
    hideOn(phone)

.sgs-description
  font-size: 1.53em
  color: #888
  margin: 1em 0

.credits
  color: #fff

.credits-inspiration
  font-size: .8em

.credits-link
  text-decoration: none
  color: #eee
  border-bottom: 1px solid #eee

.button
  display: inline-block
  margin: 1.2em 0 0 0
  font-size: 1.6em
  text-decoration: none
  padding: .3em .6em
  &:hover
    color: #fff

.button-github
  color-button-gh = #999
  color: color-button-gh
  border: 1px solid
  &:hover
    background: color-button-gh
    border-color: color-button-gh

.button-download
  color-button-dl = #27ae60
  color: #fff
  background: color-button-dl
  &:hover
    background: lighten(color-button-dl, 10%)

// Fork me
.forkme
  display: block
  position: absolute
  top: 30px
  left: -75px
  background: #fff
  color: #333
  height: 35px
  width: 250px
  text-decoration: none
  text-align: center
  font-size: .9em
  line-height: 2.2em
  font-weight: bold
  transform: rotate(-45deg)
  border-bottom: 1px solid #CACACA
  font-family: 'Arial', helvetica, sans-serif
  &:hover
    background: darken(#fff, 2%)

// Demo
.container
  div
    background: #ddd
    padding: 1em
    text-align: center
    &:hover
      background: darken(#ddd, 10%)

// DEMO #1
.my-div
  column(8)
  @media tablet
    column(7)
  @media phone
    column(12)

.other-div
  column(4)
  @media tablet
    column(5)
  @media phone
    column(12)

// DEMO #2
.my-div-two
  @extend .sgs8

.other-div-two
  @extend .sgs4