*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  width: 100%;
}
body *zoom:1:before,
body *zoom:1:after {
  content: "";
  display: table;
}
body *zoom:1:after {
  clear: both;
}
.container {
  display: table;
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1em;
}
.span-1 {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 0;
  width: 7.852564102564102%;
  margin: 0 0.2403846153846154%;
  *width: 8.328993055555555%;
  *margin: 0 0.24025941506410256%;
}
@media (min-width: 581px) and (max-width: 880px) {
  .span-1 {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 16.185897435897438%;
    margin: 0 0.2403846153846154%;
    *width: 17.138504941239315%;
    *margin: 0 0.24025941506410256%;
  }
}
@media (max-width: 580px) {
  .span-1 {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
.span-2 {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 0;
  width: 16.185897435897438%;
  margin: 0 0.2403846153846154%;
  *width: 17.138504941239315%;
  *margin: 0 0.24025941506410256%;
}
@media (min-width: 581px) and (max-width: 880px) {
  .span-2 {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 32.8525641025641%;
    margin: 0 0.2403846153846154%;
    *width: 34.75752871260684%;
    *margin: 0 0.24025941506410256%;
  }
}
@media (max-width: 580px) {
  .span-2 {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
.span-3 {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 0;
  width: 24.519230769230766%;
  margin: 0 0.2403846153846154%;
  *width: 25.94801682692308%;
  *margin: 0 0.24025941506410256%;
}
@media (min-width: 581px) and (max-width: 880px) {
  .span-3 {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 49.519230769230774%;
    margin: 0 0.2403846153846154%;
    *width: 52.37655248397436%;
    *margin: 0 0.24025941506410256%;
  }
}
@media (max-width: 580px) {
  .span-3 {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
.span-4 {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 0;
  width: 32.8525641025641%;
  margin: 0 0.2403846153846154%;
  *width: 34.75752871260684%;
  *margin: 0 0.24025941506410256%;
}
@media (max-width: 580px) {
  .span-4 {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
.span-5 {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 0;
  width: 41.18589743589744%;
  margin: 0 0.2403846153846154%;
  *width: 43.56704059829061%;
  *margin: 0 0.24025941506410256%;
}
@media (max-width: 580px) {
  .span-5 {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
.span-6,
.teste,
.diogo {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 0;
  width: 49.519230769230774%;
  margin: 0 0.2403846153846154%;
  *width: 52.37655248397436%;
  *margin: 0 0.24025941506410256%;
}
@media (min-width: 581px) and (max-width: 880px) {
  .span-6,
  .teste,
  .diogo,
.teste,
.diogo {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
@media (max-width: 580px) {
  .span-6,
  .teste,
  .diogo,
.teste,
.diogo {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
.span-7 {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 0;
  width: 57.85256410256411%;
  margin: 0 0.2403846153846154%;
  *width: 61.186064369658126%;
  *margin: 0 0.24025941506410256%;
}
@media (max-width: 580px) {
  .span-7 {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
.span-8 {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 0;
  width: 66.18589743589745%;
  margin: 0 0.2403846153846154%;
  *width: 69.99557625534189%;
  *margin: 0 0.24025941506410256%;
}
@media (max-width: 580px) {
  .span-8 {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
.span-9 {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 0;
  width: 74.51923076923077%;
  margin: 0 0.2403846153846154%;
  *width: 78.80508814102564%;
  *margin: 0 0.24025941506410256%;
}
@media (max-width: 580px) {
  .span-9 {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
.span-10 {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 0;
  width: 82.8525641025641%;
  margin: 0 0.2403846153846154%;
  *width: 87.61460002670941%;
  *margin: 0 0.24025941506410256%;
}
@media (max-width: 580px) {
  .span-10 {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
.span-11 {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 0;
  width: 91.18589743589745%;
  margin: 0 0.2403846153846154%;
  *width: 96.42411191239317%;
  *margin: 0 0.24025941506410256%;
}
@media (max-width: 580px) {
  .span-11 {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
.span-12 {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 0;
  width: 99.51923076923077%;
  margin: 0 0.2403846153846154%;
  *width: 105.23362379807693%;
  *margin: 0 0.24025941506410256%;
}
@media (max-width: 580px) {
  .span-12 {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body {
  background: #ccc;
}
.teste {
  background: #fff;
}
.diogo {
  background: #fff;
}
