*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  width: 100%;
}
body *zoom:1:before,
body *zoom:1:after {
  content: "";
  display: table;
}
body *zoom:1:after {
  clear: both;
}
.container {
  display: table;
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1em;
}
.sgs1 {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 0;
  width: 7.852564102564102%;
  margin: 0 0.2403846153846154%;
  margin-bottom: 0.3em;
  *width: 8.328993055555555%;
  *margin: 0 0.24025941506410256%;
}
@media (min-width: 581px) and (max-width: 880px) {
  .sgs1 {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 16.185897435897438%;
    margin: 0 0.2403846153846154%;
    margin-bottom: 0.3em;
    *width: 17.138504941239315%;
    *margin: 0 0.24025941506410256%;
  }
}
@media (max-width: 580px) {
  .sgs1 {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    margin-bottom: 0.3em;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
.sgs2 {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 0;
  width: 16.185897435897438%;
  margin: 0 0.2403846153846154%;
  margin-bottom: 0.3em;
  *width: 17.138504941239315%;
  *margin: 0 0.24025941506410256%;
}
@media (min-width: 581px) and (max-width: 880px) {
  .sgs2 {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 32.8525641025641%;
    margin: 0 0.2403846153846154%;
    margin-bottom: 0.3em;
    *width: 34.75752871260684%;
    *margin: 0 0.24025941506410256%;
  }
}
@media (max-width: 580px) {
  .sgs2 {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    margin-bottom: 0.3em;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
.sgs3 {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 0;
  width: 24.519230769230766%;
  margin: 0 0.2403846153846154%;
  margin-bottom: 0.3em;
  *width: 25.94801682692308%;
  *margin: 0 0.24025941506410256%;
}
@media (min-width: 581px) and (max-width: 880px) {
  .sgs3 {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 49.519230769230774%;
    margin: 0 0.2403846153846154%;
    margin-bottom: 0.3em;
    *width: 52.37655248397436%;
    *margin: 0 0.24025941506410256%;
  }
}
@media (max-width: 580px) {
  .sgs3 {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    margin-bottom: 0.3em;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
.sgs4,
.other-div-two {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 0;
  width: 32.8525641025641%;
  margin: 0 0.2403846153846154%;
  margin-bottom: 0.3em;
  *width: 34.75752871260684%;
  *margin: 0 0.24025941506410256%;
}
@media (max-width: 580px) {
  .sgs4,
  .other-div-two,
.other-div-two {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    margin-bottom: 0.3em;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
.sgs5 {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 0;
  width: 41.18589743589744%;
  margin: 0 0.2403846153846154%;
  margin-bottom: 0.3em;
  *width: 43.56704059829061%;
  *margin: 0 0.24025941506410256%;
}
@media (max-width: 580px) {
  .sgs5 {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    margin-bottom: 0.3em;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
.sgs6 {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 0;
  width: 49.519230769230774%;
  margin: 0 0.2403846153846154%;
  margin-bottom: 0.3em;
  *width: 52.37655248397436%;
  *margin: 0 0.24025941506410256%;
}
@media (min-width: 581px) and (max-width: 880px) {
  .sgs6 {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    margin-bottom: 0.3em;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
@media (max-width: 580px) {
  .sgs6 {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    margin-bottom: 0.3em;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
.sgs7 {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 0;
  width: 57.85256410256411%;
  margin: 0 0.2403846153846154%;
  margin-bottom: 0.3em;
  *width: 61.186064369658126%;
  *margin: 0 0.24025941506410256%;
}
@media (max-width: 580px) {
  .sgs7 {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    margin-bottom: 0.3em;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
.sgs8,
.my-div-two {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 0;
  width: 66.18589743589745%;
  margin: 0 0.2403846153846154%;
  margin-bottom: 0.3em;
  *width: 69.99557625534189%;
  *margin: 0 0.24025941506410256%;
}
@media (max-width: 580px) {
  .sgs8,
  .my-div-two,
.my-div-two {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    margin-bottom: 0.3em;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
.sgs9 {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 0;
  width: 74.51923076923077%;
  margin: 0 0.2403846153846154%;
  margin-bottom: 0.3em;
  *width: 78.80508814102564%;
  *margin: 0 0.24025941506410256%;
}
@media (max-width: 580px) {
  .sgs9 {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    margin-bottom: 0.3em;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
.sgs10 {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 0;
  width: 82.8525641025641%;
  margin: 0 0.2403846153846154%;
  margin-bottom: 0.3em;
  *width: 87.61460002670941%;
  *margin: 0 0.24025941506410256%;
}
@media (max-width: 580px) {
  .sgs10 {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    margin-bottom: 0.3em;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
.sgs11 {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 0;
  width: 91.18589743589745%;
  margin: 0 0.2403846153846154%;
  margin-bottom: 0.3em;
  *width: 96.42411191239317%;
  *margin: 0 0.24025941506410256%;
}
@media (max-width: 580px) {
  .sgs11 {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    margin-bottom: 0.3em;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
.sgs12 {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 0;
  width: 99.51923076923077%;
  margin: 0 0.2403846153846154%;
  margin-bottom: 0.3em;
  *width: 105.23362379807693%;
  *margin: 0 0.24025941506410256%;
}
@media (max-width: 580px) {
  .sgs12 {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    margin-bottom: 0.3em;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body {
  background: #eee;
  font-family: 'Varela Round', sans-serif;
}
header {
  text-align: center;
  padding: 4em 0 4em 0;
}
section {
  max-width: 1040px;
  padding: 0 1.2em;
  margin: 5em auto 2em auto;
}
.sgs-grid-demo {
  padding: 0;
  margin-top: 0.5em;
}
.sgs-logo {
  display: inline-block;
  background: #16a085;
  font-size: 5em;
  color: #fff;
  margin: 0;
  padding: 0.2em 0.1em;
}
@media (min-width: 581px) and (max-width: 880px) {
  .sgs-logo {
    font-size: 3.6em;
    text-transform: lowercase;
  }
}
.sgs-logo span {
  display: inherit;
}
@media (max-width: 580px) {
  .sgs-logo span {
    display: none !important;
  }
}
.sgs-description {
  font-size: 1.53em;
  color: #888;
  margin: 1em 0;
}
h2 {
  font-size: 2.4em;
  color: #444;
  text-align: center;
  margin: 0.6em 0 0.2em 0;
}
p {
  font-size: 1.2em;
  color: #999;
  text-align: center;
  margin: 0 0 0.6em 0;
  line-height: 1.4em;
}
p code {
  color: #555;
  font-family: monospace;
  background: #e7e7e7;
  border: 1px solid #d6d6d6;
  padding: 0.1em 0.5em;
}
footer {
  margin: 4em 0 0 0;
  padding: 2em 0;
  background: #16a085;
}
.forkme {
  display: block;
  position: absolute;
  top: 30px;
  left: -75px;
  background: #fff;
  color: #333;
  height: 35px;
  width: 250px;
  text-decoration: none;
  text-align: center;
  font-size: 0.9em;
  line-height: 2.2em;
  font-weight: bold;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-bottom: 1px solid #cacaca;
  font-family: 'Arial', helvetica, sans-serif;
}
.forkme:hover {
  background: #fafafa;
}
.container div {
  background: #ddd;
  padding: 1em;
  text-align: center;
}
.container div:hover {
  background: #c7c7c7;
}
.my-div {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 0;
  width: 66.18589743589745%;
  margin: 0 0.2403846153846154%;
  margin-bottom: 0.3em;
  *width: 69.99557625534189%;
  *margin: 0 0.24025941506410256%;
}
@media (min-width: 581px) and (max-width: 880px) {
  .my-div {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 57.85256410256411%;
    margin: 0 0.2403846153846154%;
    margin-bottom: 0.3em;
    *width: 61.186064369658126%;
    *margin: 0 0.24025941506410256%;
  }
}
@media (max-width: 580px) {
  .my-div {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    margin-bottom: 0.3em;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
.other-div {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 0;
  width: 32.8525641025641%;
  margin: 0 0.2403846153846154%;
  margin-bottom: 0.3em;
  *width: 34.75752871260684%;
  *margin: 0 0.24025941506410256%;
}
@media (min-width: 581px) and (max-width: 880px) {
  .other-div {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 41.18589743589744%;
    margin: 0 0.2403846153846154%;
    margin-bottom: 0.3em;
    *width: 43.56704059829061%;
    *margin: 0 0.24025941506410256%;
  }
}
@media (max-width: 580px) {
  .other-div {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 0 0;
    width: 99.51923076923077%;
    margin: 0 0.2403846153846154%;
    margin-bottom: 0.3em;
    *width: 105.23362379807693%;
    *margin: 0 0.24025941506410256%;
  }
}
